NODE_ENV= # current environment => development, production, etc.
MONGODB_URI= #mongoDb URI
PORT= #PORT NO.
JWT_SECRET= # JWT Secret Key
CLOUDINARY_CLOUD_NAME= # cloudinary cloud name
CLOUDINARY_API_KEY= # cloudinary api key
CLOUDINARY_API_SECRET= # cloudinary api secret key